body {
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

.h1_styles_css {

    background-color: #564787;
    color: white;
    padding: 15px;

}

.h3_styles_css {

    background-color: #DBCBD8;
    color: black;
    padding: 15px;

}